@model SquadManager.Models.UserViewModel

@{
    Layout = null;
}

<link href="~/css/login.css" rel="stylesheet" />

<section>
    <h1>Autenticação</h1>

    <form action="/Login/Teste" method="post">
        <input type="text" name="email" value="@Model.Email" placeholder="Username/e-mail" />
        <input type="password" name="password" placeholder="Password" value="@Model.Password"/>

        <a href="#">Esqueceu a senha?</a>

        <button>login</button>

    </form>

    <label>Não tem conta <a href="#">crique aqui</a></label>
</section>